*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.title{
    text-align: center;
    margin: 25px 0 0 0;
    font-size: 28px;
}

.small_container{
    width: 1170px;
    margin: auto;
    padding: 0 25px 0 25px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px 0 20px;
}

.food_item{
    /* display: flex; */
    min-width: 200px;
    /* max-width: 500px; */
    margin: 0 25px 25px 25px;
    padding: 0;
    list-style: none;
}

.food_item li{
    width: 237px;
    height: 418px;
    margin: 15px 10px 0 10px;
    transition: transform 0,6s;
    float: left;
    border: 1px solid silver;
    border-radius: 10px;
}

.food_item a{
    text-decoration: none;
    color: #000;
}

.food_item li img{
    width: 100%;
    height: 237px;
    margin: 0;
    padding: 20px 10px 20px 10px;
}

.btnCT{
    width: 70px;
    height: 30px;
    background-color: #fff;
    border: 1px solid orange;
    border-radius: 5px;
    font-weight: 700;
}