@media ( max-width: 767px ) {
	.box-section-collection > .row > .col-xs-12 {
		padding: 0px 15px;
	}
	.box-section-collection .catalog-list {
		display: none;
	}
	.navbar-main.navbar{
		width:100%;
		z-index:99999;
		top:0;
	}
	.product-lists > .padding-box:nth-child(2n + 1) {
		padding-left: 15px;
		padding-right: 5px;
	}
	.product-lists > .padding-box:nth-child(2n + 2) {
		padding-left: 5px;
		padding-right: 15px;
	}
	.layout-page .page-border-left {
		border: none;
	}
	.padding-top-mobile {
		margin-top: 0px;
	}
	.zoomContainer {
		display: none;
	}
	.btn-loading {
		width: 90%;
	}
	.box-section-collection .box-section-background {
		background : none;
	}
}
@media ( min-width: 768px ) {
	.zoomContainer {
		display: none;
	}
}
@media ( min-width: 768px ) and ( max-width: 991px ) {
	.box-section-collection .catalog-list {
		display: none;
	}
	.layout-page .page-border-left {
		border: none;
	}
}
@media ( min-width: 992px ) and ( max-width: 1199px ) {
	.box-section-collection .pd-left-none {
		padding-left: 0px;
	}
	.box-section-collection .catalog-list {
		display: block;
	}
	h3.call-number {
		font-size: 20px;
	}
}
@media ( min-width: 1200px ) {
	.box-section-collection .pd-left-none {
		padding-left: 0px;
	}
	.container {
		width: 1200px;
	}
	.zoomContainer {
		display: block;
	}
	.wrapper-filter {
		background: #f3f3f3;
	}
	//.filter-destop {background: #fff;}
	.filter-box > p {
		text-transform: inherit;
		font-size: 13px;
		font-weight: bold;
		padding: 10px 0px;
    text-shadow: none;
    text-transform: uppercase;
    text-align: left;
    margin: 0px 0 15px;
	}
	.filter-box p:before {
    content: "";
    width: 40px;
    height: 2px;
		background: #ce9614;
    position: absolute;
    top: 38px;
	}
	.filter-box ul {
		display: block;
		max-height: 200px;
		overflow: auto;
		border:none;
		padding: 5px 0;
	}
	.filter-box ul.filter-link {
		padding-left: 0px;
	}
	.filter-box ul.filter-link span {
		font-size: 14px;
		color: #1f2022
	}
	.filter-box ul.filter-link span:hover {
		color: #ce9614
	}
	.filter-box ul li {
		padding: 0;
		border: none;
	}
	.filter-box {
		margin-bottom: 30px;
		background: #fff;
		padding: 0px 10px 5px;
		border: 1px solid #ececec;
	}
	.filter-box:first-child {
		margin-bottom: 0;
	}
	.filter-box label {
		display: initial;
	}
	.filter-box ul input[type='checkbox'],
	.filter-box ul input[type='radio'] {
		float: none;
		margin-right: 5px;
	}
	.filter-box ul input[type='checkbox']:before,
	.filter-box ul input[type='radio']:before {
		left: 3px;
		top: 8px;
		right: auto;
	}
	.filter-box ul input[type='checkbox']:after,
	.filter-box ul input[type='radio']:after {
		left: 0;
		top: 4px;
		right: auto;
	}
	.filter-box ul input[type='radio']:before {
		top: 7px;
	}
}
/* HRT Cus */
@media (min-width: 1280px){
	.container {
			width: 1280px;
	}
}
@media (min-width: 1600px){
	.container {
			width: 1280px;
	}
}
@media (min-width: 1800px){
	.container {
			width: 1280px;
	}
}
@media ( max-width: 1024px ) {
	.megamenu-title i {margin-right: 10px;}
	.megamenu-title h3 {font-size: 14px;}
	.box-search > .box-input > .input-group-search {
    width: calc(100% - 225px);
	}
	.box-search > .box-input input[type="text"] {width: 292px;}
}

