
.product-flashsale{
	height: 100px;
	background-image: url(https://theme.hstatic.net/200000117693/1000724752/14/bg-flashsale.jpg),-webkit-gradient(linear,right top,left top,color-stop(9%,#f0451e),color-stop(96%,#f32424));
	background-image: url(https://theme.hstatic.net/200000117693/1000724752/14/bg-flashsale.jpg),linear-gradient(
		-90deg
		,#f0451e 9%,#f32424 96%);
	text-align: center;
	padding-top: 10px;
	border-radius: 4px;
	
}

.customized-overlay-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



@media all and (min-width: 478px){
	.product-flashsale{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
	
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 50px;
		padding: 0 20px;
		
	}
	.info-product-content .product-flashsale{
	
		display: none;
	}
	
	.product-flashsale:nth-child(2) {
		display: flex;
	}
}

@media all and (max-width: 477px){
	.product-flashsale{
		display: none;
	}
	.product-flashsale:nth-child(2) {
	display: block;
	}
	.icKi_p{
		display: none;
	}
	.demnguoc{
		padding-left:0;
	}
}

.flash-sale-logo--white {
    color: #fff;
}

.icKi_p {
	width: 17px;
	height: 17px;
	margin-left: auto;
	margin-right: 6px;
}

._1tFWnd {
	text-transform: uppercase;
	
	color: #fff;
}



